{% load static %}
{%load custom_filters %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{%block title}Restaurant name{%endblock%}</title>
        <link rel="stylesheet" href="{% static 'home.css' %}">
    </head>
    <body>
        <header>
            <img src="{{restaurant.image.url}}">
            <p>Date:{%current_datetime%}</p>
            <h5>
            Welcome to my {{restaurant_name}}
            <span>{{restaurant.mobile_number}}</span>
            </h5>
            <form method="get" action="#">
                <input type="text" name="q" placeholder="search">
                <button type="submit">search</button>
            </form>
            <nav>
            <li><a class="about" href="/about/" style="text-decoration:none;color:black;">AboutUs</a></li>
            <li><a style="color:#2c3e50;margin:10px;" href="/">Home</a></li>
            </nav>
        </header>
        {% block content%}
        <main>
            <ul>
            {%for item in menu_items%}
            <li>
                <span>{{item.name}}</span>
                <span>{{item.description}}</span>
                <span>{{item.price}}</span>
            </li>
            {%endfor%}
            </ul>
            <div class="map-container">
            <iframe loading="lazy" allowfullscreenreferrerpolicy="no-referrer-when-downgrade" src="q={{restaurant_address}}"></iframe>
            </div>
            <form method="POST">
                {%csrf_token%}
                {{form.as_p}}
                <button type="submit">submit</button>
            </form>
            <button type="submit"><a href="/faq">FAQ</a></button>
        </main>
        {% endblock %}
        <footer class="footer">
            <div>
                {% for ad in location %}
                    <span>{{ad.address}}|{{ad.city}}|{{ad.state}}|{{ad.zipcode}}</span>
                {% endfor %} 
            </div>
            <span>Opening Hours:
            <small class="timings">
                Mon - Fri:11:00am ,Sat-Sun:10:am-10pm
            </small>
        </footer>
    </body>
</html>