{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Restaurant name</title>
        <link rel="stylesheet" href="{% static 'home.css' %}">
    </head>
    <body>
        <header>
            Welcome to my Restaurant
        </header>
        <div class="container">
            <a class='about' href="/about/" style="text-decoration:none;color:black;">AboutUs</a>
            <h1 style="color:#2c3e50;margin:10px;">Welcome to Restaurant</h1>
        </div>
    </body>
</html>