<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>
            404 - Page Not Found
        </title>
        <style>
            div{
            display:flex;
            flex-direction:column;
            background-color:#E8E082;
            }
            body{
            text-align:center;
            padding:20px;
            font-family:Arial, sans-serif;
            }
            h1{
            color:#ff0000;
            height:10vh;
            }
        </style>
    </head>
    <body>
        <div>
        <h1>404</h1>
        <h2>Oops! Page Not found.</h2>
        <p>The page you are looking for doesn't exist</p>
        </div>
    </body>
</html>